@import "tailwindcss";


@theme {
  /* --- Fonts --- */
  --font-sans: var(--font-jost), "Inter", system-ui, sans-serif;
  --font-serif: var(--font-jost), sans-serif; /* Fallback to Jost */

  /* --- Custom Animations --- */
  --animate-pulse-slow: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}